version: "3.9"

# Override enabling TLS for the CLIENT listener on Kafka
services:
  kafka:
    environment:
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=INTERNAL:PLAINTEXT,CLIENT:SASL_SSL
      - KAFKA_CFG_SSL_ENDPOINT_IDENTIFICATION_ALGORITHM=
      - KAFKA_CFG_SSL_KEYSTORE_LOCATION=/opt/bitnami/kafka/config/certs/kafka.keystore.jks
      - KAFKA_CFG_SSL_KEYSTORE_PASSWORD=${KAFKA_SSL_KEYSTORE_PASSWORD:-changeit}
      - KAFKA_CFG_SSL_TRUSTSTORE_LOCATION=/opt/bitnami/kafka/config/certs/kafka.truststore.jks
      - KAFKA_CFG_SSL_TRUSTSTORE_PASSWORD=${KAFKA_SSL_TRUSTSTORE_PASSWORD:-changeit}
      # Bitnami entrypoint requires *_CREDENTIALS files for passwords
      - KAFKA_SSL_KEY_CREDENTIALS=/opt/bitnami/kafka/config/certs/keystore_creds
      - KAFKA_SSL_TRUSTSTORE_CREDENTIALS=/opt/bitnami/kafka/config/certs/truststore_creds
    volumes:
      - ./infra/kafka/ssl:/opt/bitnami/kafka/config/certs:ro
